@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Volkhov';
  src: url('assets/fonts/Volkhov-Regular.ttf');
}

body {
  background: white;
}

#toolbar {
  @apply border h-10 flex items-center px-1;
}

#toolbar button {
  @apply h-8 w-8 rounded hover:bg-gray-100;
  
}

#toolbar button.ql-active {
  @apply  bg-gray-100;
}

#toolbar .ql-bold {
  @apply text-red-200;
}

#editor {
  position: relative;
}

#editor h1,
#editor h2,
#editor h3,
#editor h4,
#editor h5,
#editor h6 {
  font-family: 'Volkhov', serif;
  color: #660000;
  line-height: 1.2;
  margin-bottom: 3%;
  clear: both;
  margin-bottom: 17.78125px;
}

#editor h1 {
  font-size: 60px;
  font-weight: 400;
}

#editor h2 {
  font-size: 30px;
  /* margin-bottom: 19.03125px; */
}

#editor h3 {
  font-size: 28px;
  /* margin-bottom: 19.03125px; */
}

#editor h4 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  /* margin-bottom: 19.03125px; */
}

#editor h5 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  /* margin-bottom: 19.03125px; */
}

#editor h6 {
  font-size: 16px;
  margin-bottom: 19.03125px;
}

#editor p {
  font-size: 18px;
  line-height: 30.6px;
  margin-bottom: 21.6px;
  /* margin-bottom: 18px; */
}

#editor ol,
#editor ul {
  font-size: 18px;
  line-height: 30.6px;
  margin-bottom: 25.200001px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 20px;
}
#editor ol {
  list-style-type: decimal;
}
#editor ul {
  list-style-type: square;
}
#editor li {
  font-size: 18px;
  margin-bottom: 11.5px;
  line-height: 30.6px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#editor blockquote {
  font-size: 22px;
  border-top: 2px solid rgb(39, 44, 48);
  border-bottom: 2px solid rgb(39, 44, 48);
  padding: 30px 0px 10px 59.28125px;
  margin: 22px 0px 22px 0px;
  /* margin-block-start: 22px; */
  line-height: 35.200001px;
  height: 101px;
  position: relative;
}

#editor blockquote:before {
  content: '\201C';
  font-family: 'georgia';
  position: absolute;
  left: 0;
  font-size: 80px;
  width: 30px;
  top: 25px;
  line-height: 1;
}

/* #editor .embed-vimeo {
  margin-bottom: 1.2em;
}

#editor b,
#editor strong {
  font-weight: bold;
}

#editor dfn,
#editor cite,
#editor em,
#editor i {
  font-style: italic;
} */


@layer components {
  .editor-toolbar-button {
    @apply hover:bg-gray-100 rounded-md p-2;

    /* &.ql-active {
      @apply bg-gray-100;
    } */

  }
  .editor-toolbar-icon{
    @apply w-3 h-3 text-gray-400
  }
}